html, body {
  margin: 0;
  height: 100vh;
    display: block;
        min-height: 100%;
    /*padding-top: 24px;*/
    padding-bottom: 24px;
    background-color: #F4F6F8;;
}

.header {
    grid-area: hd;
    width: auto;
    border: 1px solid #ee1c1c;
    padding: 6px;
    height: 60px;
    text-align: center;
    background-color: #183B8D;
    color: white;
    font-size: 15px;
}

.footer {
    grid-area: ft;
}
.content {
    grid-area: main;
    border: 1px solid #ee1c1c;
            grid-column-gap: 10px;
        grid-row-gap: 10px;


}
.navbar {
    grid-area: nb;
    border: 1px solid #ee1c1c;
}
.wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
          "hd hd hd hd   hd   hd   hd   hd   hd   hd   hd   hd"
          "nb nb nb main main main main main main main main main";
    }

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.col {
  flex: 1 0 0%;
}
.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}
nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
    color: #f61b1b;
        height: 80vh;
    font-family: 'Roboto', sans-serif;
}


@media all and (min-width: 735px) and (max-width: 990px){
    .wrapper {
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns:100% 1fr;
        grid-template-areas:
          "hd"
          "main";
    }
    .navbar {
    grid-area: sd;
    border: 1px solid #ee1c1c;
    visibility: hidden;
    }

}
@media all and (min-width: 640px) and (max-width: 734px){
    .wrapper {
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns:100% 1fr;
        grid-template-areas:
          "hd"
          "main";
    }
    .navbar {
    grid-area: sd;
    border: 1px solid #ee1c1c;
    visibility: hidden;
    }
}
/*настройки адаптивности обертки контейнер*/
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;

}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
/*настройки адаптивности блока контейнер*/

/*украшательства*/
.rounded {
  border-radius: 0.25rem !important;
}
.spacing {
    width: calc(100% - 15px);
    margin-left: 13px;
}
/*конец украшательств*/