* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    display: block;
    margin: 0px;
}

.header {
  padding: 6px;
  height: 60px;
  text-align: center;
  background: #ffffff;
  color: white;
  font-size: 15px;
}

.AppBar{
    color: #fff;
    background-color: #183B8D;
}

.logo {
    position: absolute;
    left: 3%;
    width: 265px;
}

.body {
    min-height: 100%;
    /*padding-top: 24px;*/
    padding-bottom: 24px;
    background-color: #F4F6F8;
}

/*Начало левого меню*/
/** {box-sizing: border-box; margin: 0;}*/
.widget {
    width: 25%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    float: left;
    display: block;
    padding: 16px;
    margin: 10px 10px 10px 0px;
    box-shadow: 0 0 0 1px rgb(63 63 68 / 5%), 0 1px 2px 0 rgb(63 63 68 / 15%);
    border-radius: 0px;
    background-color: #fff;
}
.widget h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color:  #424949;
}
.widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 250px;
}
.widget li {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.widget li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.widget a {
  text-decoration: none;
  color:  #616a6b;
  display: inline-block;
}
.widget li:before {
  font-family: FontAwesome;
  font-size: 20px;
  vertical-align:bottom;
  color: #dd3333;
  margin-right: 14px;
}
.widget li:nth-child(1):before {content:"\f1fc";}
.widget li:nth-child(2):before {content:"\f0d0";}
.widget li:nth-child(3):before {content:"\f0cd";}
.widget li:nth-child(4):before {content:"\f028";}
.widget li:nth-child(5):before {content:"\f03d";}
/*Конец левого меню*/

div.content {
    width: 60vw;
    height: 100vh;
    position: absolute;
    left: 30%;
    padding: 16px;
    margin: 10px;
    box-shadow: 0 0 0 1px rgb(63 63 68 / 5%), 0 1px 2px 0 rgb(63 63 68 / 15%);
    border-radius: 4px;
    background-color: #fff;
    float: left;
    display: block;
}

.footer{
    height: 50px;
    background-color: #F4F6F8;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: white;
}

