<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    {% if title %}
    <title>Министерство культуры - {{ title }}</title>
    {% else %}
    <title>Министерство культуры</title>
    {% endif %}
    {% endblock %}
<link type="text/css" href="{{ url_for('static', filename='1cintegr/css/style2.css') }}" rel="stylesheet">
  </head>
<body>
<div class="wrapper">
    <div class="header">
        <a href="{{ url_for('index') }}"><img class="logo" alt="Logo" src="/static/1cintegr/img/min_kult.svg"></a>
    </div>
    <nav class="navbar">
         <ul>
          <li><a href="{{ url_for('documents') }}">Подведомственные организации</a></li>
          <li><a href="{{ url_for('category') }}">Категория подведомственной организации</a></li>
          <li><a href="">Объекты недвижимости</a></li>
          <li><a href="{{ url_for('search') }}">Поиск</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
    </nav>
    <div class="content rounded spacing" >
        <main class="container">
            {% block content %}
                {#        #}
            {% endblock %}
        </main>
    </div>
</div>
</body>
</html>