{% extends 'basic/basic.html' %}

{% block content %}
    {{ super() }}
    <nav aria-label="breadcrumb" class="mx-3">
        <ol class="breadcrumb">

            <li class="breadcrumb-item active" aria-current="page">{{ breadcrumbs }}</li>


        </ol>
    </nav>
    <div id="container" class="container-fluid rounded px-0 bg-white border border-grey">
        <ul class="list-group list-group-flush box overflow-auto my-1">
            <li class="list-group-item">О проекте</li>

            <p class="mx-3 mt-2">Информационный ресурс по объектам недвижимого имущества Министерства культуры Российской Федерации, территориальных управлений и подведомственных организаций предназначен для сбора, накопления, хранения информации, его эффективного использования, поиска данных и документов по объектам недвижимости, получаемых сотрудниками Министерства, территориальными управлениями и подведомственными организациями. </p>
        </ul>


        <script>
            // Замените на свой API-ключ
            var token = "d9d839eea6af5bf1c146189a65c734a35651b6f2";

            var type = "ADDRESS";
            var $region = $("#region");
            var $area = $("#area");
            var $city = $("#city");
            var $settlement = $("#settlement");
            var $street = $("#street");
            var $house = $("#house");

            function showPostalCode(suggestion) {
                $("#postal_code").val(suggestion.data.postal_code);
            }

            function clearPostalCode() {
                $("#postal_code").val("");
            }

            // регион
            $region.suggestions({
                token: token,
                type: type,
                hint: false,
                bounds: "region"
            });

            // район
            $area.suggestions({
                token: token,
                type: type,
                hint: false,
                bounds: "area",
                constraints: $region
            });

            // город и населенный пункт
            $city.suggestions({
                token: token,
                type: type,
                hint: false,
                bounds: "city",
                constraints: $area,
                onSelect: showPostalCode,
                onSelectNothing: clearPostalCode
            });

            // geolocateCity($city);

            // город и населенный пункт
            $settlement.suggestions({
                token: token,
                type: type,
                hint: false,
                bounds: "settlement",
                constraints: $city,
                onSelect: showPostalCode,
                onSelectNothing: clearPostalCode
            });

            // улица
            $street.suggestions({
                token: token,
                type: type,
                hint: false,
                bounds: "street",
                constraints: $settlement,
                onSelect: showPostalCode,
                onSelectNothing: clearPostalCode
            });

            // дом
            $house.suggestions({
                token: token,
                type: type,
                hint: false,
                bounds: "house",
                constraints: $street,
                onSelect: showPostalCode,
                onSelectNothing: clearPostalCode
            });

        </script>
    </div>

{% endblock %}