{% extends 'basic/basic.html' %}

{% block content %}
    {{ super() }}
    <div id="container" class="container-xl rounded px-0 bg-white border border-grey">
         <ul class="list-group list-group-flush box overflow-auto">
          <li class="list-group-item">О проекте</li>

             <p class="mx-3 mt-2">База данных для ведения информации по наличию документов и юридически значимых сведений в информационной системе по объектам недвижимого имущества Министерства культуры Российской Федерации и его подведомственных учреждений предназначена для сбора, хранения, поиска данных и документов по объектам недвижимости, получаемых по запросу структурных подразделений Министерства культуры Российской Федерации, подведомственных организаций, научных и учебных заведений, юридических и физических лиц, выполняющих работы по сохранению объектов культурного наследия</p>
         </ul>

    </div>

{% endblock %}