{% extends 'basic/basic.html' %}

{% block content %}
    {{ super() }}
    <div id="container" class="container-xl rounded px-0 bg-white border border-grey">
        <h3 class="mx-2">Московский государственный академический детский музыкальный театр имени Н.И. Сац</h3>
    <div class="container rounded px-0 mx-2 bg-white border border-grey">
        <table class="table">

  <tbody>
    <tr>
      <td>Официальное наименование:</td>
      <td>Федеральное государственное бюджетное учреждение культуры "Государственный академический Большой театр России"</td>
      <td>Организационно-правовая форма:</td>
      <td>Федеральное государственное бюджетное учреждение культуры</td>
    </tr>
    <tr>
        <td>Категория подведомственной организации:</td>
      <td>Театрально-зрелищные учреждения</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
        <td>ИНН:</td>
      <td>7707079537</td>
      <td>КПП:</td>
      <td>770701001</td>
    </tr>
      <tr>
        <td>ОГРН:</td>
      <td>1027739856539</td>
      <td>КОПУК:</td>
      <td>040027</td>
    </tr>
      <tr>
        <td>Адрес:</td>
      <td>125009, Москва, площадь Театральная, 1</td>
      <td>Номер телефона:</td>
      <td>7-495-692-66-90</td>
    </tr>
      <tr>
        <td>Электронная почта:</td>
      <td>theatre@bolshoi.ru</td>
      <td>ФИО Руководителя:</td>
      <td>Урин Владимир Георгиевич</td>
    </tr>
  </tbody>
</table>
    </div>
    <h3 class="mx-2">Объекты недвижимости</h3>
    <div class="container rounded px-0 mx-2 bg-white border border-grey">
        <table class="table table-hover">
         <thead>
    <tr>
      <th scope="col">Имя</th>
      <th scope="col">Email</th>
      <th scope="col">Адрес</th>
      <th scope="col">Телефон</th>
      <th scope="col">Дата регистрации</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Особняк Рябушинского</td>
      <td>info@yandex.ru</td>
      <td>Москва, ЮВАО, Россия</td>
      <td>+7(916)000-00-00</td>
      <td>12/04/2019</td>
    </tr>
  </tbody>
</table>
    </div>
    </div>
{% endblock %}