{% extends 'basic/basic.html' %}

{% block content %}
    {{ super() }}
    <div id="container" class="container-fluid rounded px-0 bg-white border border-grey">
        <ul class="list-group list-group-flush box my-1">
          <li class="list-group-item">Категории</li>
            {% for list in data %}
            <a href="{{ url_for ("category_podved", id =list.code) }}" class="text-decoration-none"><li class="list-group-item list-group-item-action border-top"><span>{{ list.name }}</span><p>Количество {{ list.amount }}</p></li></a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}