{% extends 'basic/basic.html' %}

{% block content %}
    {{ super() }}
    <div id="container" class="container-xl rounded px-0 bg-white border border-grey">
         <ul class="list-group list-group-flush box overflow-auto">
          <li class="list-group-item">Контакты</li>
             <h4 class="ms-3 mt-2">Федеральное государственное бюджетное учреждение культуры «Агентство по управлению и использованию памятников истории и культуры»</h4>
             <p class="ms-3">125375, г. Москва, Дегтярный пер., д.8, стр.3</p>
             <p class="ms-3">Для приема корреспонденции +7 (499) 705 20 00</p>
             <p class="ms-3">info@auipik.ru</p>
             <p class="ms-3">По вопросам СМИ +7 (499) 705 20 00 press@auipik.ru</p>
         </ul>
    </div>

{% endblock %}