{% extends 'basic/basic.html' %}

{% block content %}
    {{ super() }}
    <div class="d-grid gap-2  justify-content-md-end bg-transparent">
      <button class="btn btn-primary me-md-2" type="button">Добавить объект недвижимости</button>
    </div>


        <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Поиск недвижимости" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>

    <div id="container" class="container-fluid rounded px-0 bg-white border border-grey">

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Регион</th>
      <th scope="col">Адрес</th>
      <th scope="col">Вид объекта</th>
      <th scope="col">Вид собственности</th>
      <th scope="col">Обременение</th>
        <th scope="col">ОКН</th>
    </tr>
  </thead>
  <tbody>
      {% for i in data %}
          <tr>
              <td>{{ i.short_adress}}</td>
          <td>{{ i.full_adress }}</td>
          <td>{{ i.type_object }}</td>
          <td>{{ i.owner }}</td>
          <td>{{ i.encumbrance }}</td>
          <td>{{ i.okn }}</td>
          </tr>
    {% endfor %}
  </tbody>
</table>






    </div>

{% endblock %}