{% extends 'basic/basic2.html' %}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="row"><div class="col"><p>Наименование подведомственной организации</p></div></div>
        <div class="row"><div class="col">Column</div></div>
        <div class="row"><div class="col">Column</div></div>
        <div class="row"><div class="col">Column</div></div>
        <div class="row"><div class="col">Column</div></div>
        <div class="row"><div class="col">Column</div></div>
        <div class="row"><div class="col">Column</div></div>
        <div class="row"><div class="col">Column</div></div>
        <div class="row"><div class="col">Column</div></div>
        <div class="row"><div class="col">Column</div></div>
    </div>

    </div>


{% endblock %}