{% extends 'basic/basic2.html' %}

{% block content %}
    {{ super() }}
    <div class="container-fluid overflow-auto">
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action">Наименование подведомственной организации</li>
          <li class="list-group-item list-group-item-action">Государственный академический Большой театр России</li>
          <li class="list-group-item list-group-item-action">Государственный академический Большой театр России</li>
          <li class="list-group-item list-group-item-action">Государственный академический Большой театр России</li>
          <li class="list-group-item list-group-item-action">Государственный академический Большой театр России</li>
          <li class="list-group-item list-group-item-action">Новосибирский государственный академический театр оперы и балета</li>
          <li class="list-group-item list-group-item-action">Новосибирский государственный академический театр оперы и балета</li>
          <li class="list-group-item list-group-item-action">Новосибирский государственный академический театр оперы и балета</li>
          <li class="list-group-item list-group-item-action">Российский государственный симфонический оркестр кинематографииРоссийский государственный симфонический оркестр кинематографии</li>
          <li class="list-group-item list-group-item-action">Российский государственный симфонический оркестр кинематографии</li>
            <li class="list-group-item list-group-item-action">Государственный академический Большой театр России</li>
          <li class="list-group-item list-group-item-action">Государственный академический Большой театр России</li>
          <li class="list-group-item list-group-item-action">Государственный академический Большой театр России</li>
          <li class="list-group-item list-group-item-action">Государственный академический Большой театр России</li>
          <li class="list-group-item list-group-item-action">Государственный академический Большой театр России</li>
          <li class="list-group-item list-group-item-action">Новосибирский государственный академический театр оперы и балета</li>
          <li class="list-group-item list-group-item-action">Новосибирский государственный академический театр оперы и балета</li>
          <li class="list-group-item list-group-item-action">Новосибирский государственный академический театр оперы и балета</li>
          <li class="list-group-item list-group-item-action">Российский государственный симфонический оркестр кинематографии</li>
          <li class="list-group-item list-group-item-action">Российский государственный симфонический оркестр кинематографии</li>
        </ul>
    </div>

    </div>


{% endblock %}