<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        *{
  box-sizing: border-box;
}
.d-table{
width: 100%;
      display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.d-tr{
  display: block;
    margin-top: 10px;
    margin-left: 60px;
}
.d-td{
  display: block;
    float: left;
  text-align: center;
    width:77px;
    height:77px;
    margin-left: 14px;
    border: none;
    background-color: #ffffff;
  {#vertical-align: middle;#}
}
.d-step1{
  display: block;
    float: left;
    width:530px;
    height:77px;
    margin-left: 10px;
  border: none;
  border: 1px solid #ccc;
  background-color: #ffffff;
  {#vertical-align: middle;#}
}
.d-step2{
  display: block;
    float: left;
    width:530px;
    height:77px;
    margin-left: 10px;
  border: none;
    background-color: #eaeaea;
  {#vertical-align: middle;#}
}
{#.d-td:not(.no-p){#}
{#  padding: 4px;#}
{#}#}
.lm{
    width: 100%;
    height:100%;

}

    </style>
</head>
<body>
<div class="d-table">
  <div class="d-tr">
    <div class="d-td">logo</div>
    <div class="d-td"><img src="../static/1cintegr/img/login/1.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/2.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/3.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/4.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/5.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/6.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/7.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/8.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/9.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/10.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/11.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/12.png" class="lm"></div>
  </div>
    <div class="d-tr">
        <div class="d-td"><img src="../static/1cintegr/img/login/13.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/14.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/15.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/16.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/17.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/18.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/19.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/20.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/21.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/22.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/23.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/24.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/25.png" class="lm"></div>
  </div>
      <div class="d-tr">
      <div class="d-td"><img src="../static/1cintegr/img/login/26.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/27.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/28.png" class="lm"></div>
<div class="d-td">logo</div>
    <div class="d-step1">lorem</div>
        <div class="d-td"><img src="../static/1cintegr/img/login/29.png" class="lm"></div>
<div class="d-td"><img src="../static/1cintegr/img/login/30.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/31.png" class="lm"></div>
  </div>
      <div class="d-tr">
              <div class="d-td"><img src="../static/1cintegr/img/login/32.png" class="lm"></div>
              <div class="d-td"><img src="../static/1cintegr/img/login/33.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/34.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/35.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/36.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/37.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/38.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/39.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/40.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/41.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/42.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/43.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/44.png" class="lm"></div>
  </div>
      <div class="d-tr">
              <div class="d-td"><img src="../static/1cintegr/img/login/45.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/46.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/47.png" class="lm"></div>
    <div class="d-td">logo</div>
    <div class="d-step2">lorem</div>
    <div class="d-td"><img src="../static/1cintegr/img/login/48.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/49.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/50.png" class="lm"></div>
  </div>

      <div class="d-tr">
    <div class="d-td"><img src="../static/1cintegr/img/login/51.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/52.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/53.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/54.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/55.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/56.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/57.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/58.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/59.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/60.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/61.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/62.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/63.png" class="lm"></div>
  </div>
      <div class="d-tr">
    <div class="d-td"><img src="../static/1cintegr/img/login/64.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/65.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/66.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/67.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/68.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/69.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/70.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/71.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/72.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/73.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/74.png" class="lm"></div>
    <div class="d-td"><img src="../static/1cintegr/img/login/75.png" class="lm"></div>
    <div class="d-td">logo</div>


  </div>
</div>
</body>
</html>