<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    {% if title %}
    <title>Министерство культуры - {{ title }}</title>
    {% else %}
    <title>Министерство культуры</title>
    {% endif %}
    {% endblock %}
    <link type="text/css" href="{{ url_for('static', filename='1cintegr/css/style2.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body>
<div class="wrapper ps-5 pt-5 ">

            <div class="rows1 mt-4">
                <div class="col mt-3 border"><img src="../static/1cintegr/img/gerb.png" class="gerb ms-1 mt-1" width="70" height="60"></div>
                <div class="col mt-3 border"><img src="../static/1cintegr/img/login/13.png" class="lm"></div>
                <div class="col mt-3 border"><img src="../static/1cintegr/img/login/26.png" class="lm"></div>
                <div class="col mt-3 border"><img src="../static/1cintegr/img/login/32.png" class="lm"></div>
                <div class="col mt-3 border"><img src="../static/1cintegr/img/login/45.png" class="lm"></div>
                <div class="col mt-3 border"><img src="../static/1cintegr/img/login/51.png" class="lm"></div>
                <div class="col mt-3 border"><img src="../static/1cintegr/img/login/64.png" class="lm"></div>
            </div>
    <div class="rows2 mt-4">
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/1.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/14.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/27.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/33.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/46.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/52.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/65.png" class="lm"></div>
    </div>
    <div class="rows3 mt-4">
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/2.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/15.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/28.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/34.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/47.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/53.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/66.png" class="lm"></div>
    </div>
    <div class="rows4 mt-4 ">
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/3.png"class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/16.png" class="lm"></div>
        <div class="col mt-3 border"><button type="button" class="btn btn-secondary rounded-pill mt-3 ms-2 pe-1" disabled>ШАГ 1</button></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/35.png" class="lm"></div>
        <div class="col mt-3 border"><button type="button" class="btn btn-secondary rounded-pill mt-3 ms-2 pe-1" disabled>ШАГ 2</button></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/54.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/67.png" class="lm"></div>
    </div>
    <div class="rows5 mt-4">
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/4.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/17.png" class="lm"></div>
            <div class="d-step1 mt-3 border">
                <div class="row m-0">
                <div id="step1-block-left" class="col-8 border"><p id="text_connection" class="pt-2 h6 text-center">Установите защищенное соединение используя сертификат</p> </div>
                <div id="step1-block-right" class="col-4 border text-center"><button type="button" class="btn btn-secondary btn-lg rounded-pill mt-2 ms-2 col-12">Соединение</button></div>
                    </div>
            </div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/36.png" class="lm"></div>
            <div class="d-step2 mt-3 border">
                <div class="row m-0">
                <div id="step2-block-left" class="col-8 border">
                    <form>
<div class="col-12 border-bottom " >

  <input type="email" class="form-control border-0" id="exampleFormControlInput1" placeholder="Логин:">
</div>

<div class="col-12 border-top" >

  <input type="password" class="form-control border-0" id="exampleFormControlInput1" placeholder="Пароль:">
</div>
</form>
                </div>
                <div id="step2-block-right" class="col-4 border text-center"><button type="button" class="btn btn-secondary btn-lg rounded-pill mt-2 ms-2 col-12">Вход</button></div>
                    </div>
            </div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/55.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/68.png" class="lm"></div>
    </div>
    <div class="rows6 mt-4">
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/5.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/18.png" class="lm"></div>
        <div class="col mt-3"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/37.png" class="lm"></div>
        <div class="col mt-3"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/56.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/69.png" class="lm"></div>

    </div>
    <div class="rows7 mt-4">
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/6.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/19.png" class="lm"></div>
        <div class="col mt-3"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/38.png" class="lm"></div>
        <div class="col mt-3"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/57.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/70.png" class="lm"></div>
    </div>
    <div class="rows8 mt-4">
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/7.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/20.png" class="lm"></div>
        <div class="col mt-3"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/39.png" class="lm"></div>
        <div class="col mt-3"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/58.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/71.png" class="lm"></div>

    </div>
    <div class="rows9 mt-4">
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/8.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/21.png" class="lm"></div>
        <div class="col mt-3"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/40.png" class="lm"></div>
        <div class="col mt-3"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/59.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/72.png" class="lm"></div>
    </div>
    <div class="rows10 mt-4">
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/9.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/22.png" class="lm"></div>
        <div class="col mt-3"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/41.png" class="lm"></div>
        <div class="col mt-3"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/60.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/73.png" class="lm"></div>
    </div>
    <div class="rows11 mt-4">
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/10.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/23.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/29.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/42.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/48.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/61.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/74.png" class="lm"></div>
    </div>
    <div class="rows12 mt-4">
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/11.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/24.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/30.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/43.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/49.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/62.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/75.png" class="lm"></div>
    </div>
    <div class="rows13 mt-4">
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/12.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/25.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/31.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/44.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/50.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/login/63.png" class="lm"></div>
        <div class="col mt-3 border"><img src="../static/1cintegr/img/auipik.png" class="gerb ms-1 mt-3" width="65" height="40"></div>
    </div>


</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>