{% extends 'basic/basic.html' %}

{% block content %}
    {{ super() }}
    <nav aria-label="breadcrumb" class="mx-3">
        <ol class="breadcrumb">
            {%  if id_podved %}
                <li class="breadcrumb-item"><a href="{{ url_for('category') }}">Категория подведомственной организации</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ namebreadcrumbsbycat }}</li>
            {% elif name_depart %}
                <li class="breadcrumb-item active" aria-current="page">Департамент: {{ name_depart }}</li>
            {% else  %}
                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumbs }}</li>
            {% endif %}
        </ol>
    </nav>
        <form method="GET" class="d-flex">
        {% if not filter %}
            <input class="form-control me-2" name="filter" type="search"

                   placeholder="Поиск недвижимости" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        {% else %}
            <input class="form-control me-2" name="filter" type="search"
                   placeholder="{{ filter }}" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
            <button class="btn btn-outline-danger" type="submit">Очистить</button>
        {% endif %}
    </form>
    <div id="container" class="container-fluid rounded px-0 bg-white border border-grey">


        {#        {% with messages = get_flashed_messages() %}#}
        {#            {% if messages %}#}
        {#                {% for message in messages %}#}
        {#                    <div class="alert alert-success alert-dismissible fade show" role="alert" id="liveAlertPlaceholder">#}
        {#                        {{ message }}#}
        {#                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
        {#                    </div>#}
        {#                {% endfor %}#}
        {#            {% endif %}#}
        {#        {% endwith %}#}
        <ul class="list-group list-group-flush box overflow-auto my-1">

            {#           <li class="list-group-item">Наименование подведомственной организации</li>#}
            <table class="table table-hover">

                <thead>
                <tr>
                    <th scope="col-12">Наименование подведомственной организации</th>
                </tr>
                </thead>
                <tbody>
                {% for i in data %}

                    {#          <a href="{{ url_for('cardhouse') }}" class="text-decoration-none" ><li class="list-group-item list-group-item-action border-top">Государственный академический Большой театр России</li></a>#}
                    {% if id_podved %}
                        <tr data-href="{{ url_for("cardhouse", id=i.code, id_podv = id_podved, namebreadcrumbsbycat =namebreadcrumbsbycat) }}" role="button">
                            <td class="noselect">{{ i.name }}</td>
                            <td class="text-secondary">>>></td>
                            {#          <img src="{{url_for('site.static', filename = data)}}">#}
                        </tr>
                    {% elif departid %}
                        <tr data-href="{{ url_for("cardhouse", id=i.code, departments = departid, departmentsname= name_depart) }}" role="button">
                            <td class="noselect">{{ i.name }}</td>
                            <td class="text-secondary">>>></td>
                            {#          <img src="{{url_for('site.static', filename = data)}}">#}
                        </tr>
                    {% else %}
                        <tr data-href="{{ url_for("cardhouse", id=i.code) }}" role="button">
                            <td class="noselect">{{ i.name }}</td>
                            <td class="text-secondary">>>></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {#                {% if page == max_page %}#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=page) }}">{{ page }}</a>#}
                {##}
                {#                    </li>#}
                {#                {% else %}#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=page) }}">{{ page }}</a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=page + 1) }}">{{ page + 1 }}</a>#}
                {#                    </li>#}
                {#                {% endif %}#}
                {% if page >= 1 and page <= max_page %}
                {% for item in range (1,max_page + 1) %}
                    {% if page == max_page and item == max_page %}
                        {% if page == 2 and item == max_page %}

                            <li class="page-item"><a class="page-link"
                                                     href="{{ url_for("podved", id=page - 1) }}">Пред. </a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="{{ url_for("podved", id=page - 1) }}">{{ page - 1 }} </a>
                            </li>
                            <li class="page-item active"><a class="page-link"
                                                            href="{{ url_for("podved", id=page) }}">{{ page }} </a>
                            </li>
                            <li class="page-item disabled"><a class="page-link"
                                                              href="{{ url_for("podved", id=page + 1 ) }}">След.</a>
                            </li>
                        {% elif page == 1 and item == max_page and max_page == 1 %}
                            <li class="page-item disabled"><a class="page-link"
                                                              href="{{ url_for("podved",id=page - 1) }}">Пред. </a>
                            </li>

                            <li class="page-item active"><a class="page-link"
                                                            href="{{ url_for("podved", id=page) }}">{{ page }} </a>
                            </li>

                            <li class="page-item disabled"><a class="page-link"
                                                              href="{{ url_for("podved", id=page + 1 ) }}">След.</a>
                            </li>
                        {% else %}

                            <li class="page-item"><a class="page-link"
                                                     href="{{ url_for("podved", id=page - 1) }}">Пред. </a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="{{ url_for("podved", id=page - 2) }}">{{ page - 2 }} </a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="{{ url_for("podved", id=page - 1) }}">{{ page - 1 }} </a>
                            </li>
                            <li class="page-item active"><a class="page-link"
                                                            href="{{ url_for("podved", id=page) }}">{{ page }} </a>
                            </li>
                            <li class="page-item disabled"><a class="page-link"
                                                              href="{{ url_for("podved", id=page + 1 ) }}">След.</a>
                            </li>
                        {% endif %}

                    {% elif item == 2 and page ==2 %}

                        {% if item == 2 and max_page == 3 %}
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page - 1) }}">Пред. </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page - 1) }}">{{ page - 1 }} </a>
                        </li>
                        <li class="page-item active"><a class="page-link"
                                                        href="{{ url_for("podved", id=page) }}">{{ page }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 1 ) }}">{{ page + 1 }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 1 ) }}">След.</a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page - 1) }}">Пред. </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page - 1) }}">{{ page - 1 }} </a>
                        </li>
                        <li class="page-item active"><a class="page-link"
                                                        href="{{ url_for("podved", id=page) }}">{{ page }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 1 ) }}">{{ page + 1 }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 2 ) }}">{{ page + 2 }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 1 ) }}">След.</a>
                        </li>
                    {% endif %}
                    {% elif item == 1 and page ==1 %}
                        {% if item == 1 and max_page == 2 %}
                         <li class="page-item disabled"><a class="page-link"
                                                          href="{{ url_for("podved", id=page - 1) }}">Пред. </a>
                        </li>
                        <li class="page-item active"><a class="page-link"
                                                        href="{{ url_for("podved", id=page) }}">{{ page }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 1 ) }}">{{ page + 1 }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 1 ) }}">След. </a>
                        </li>
                            {% else %}
                                                    <li class="page-item disabled"><a class="page-link"
                                                          href="{{ url_for("podved", id=page - 1) }}">Пред. </a>
                        </li>
                        <li class="page-item active"><a class="page-link"
                                                        href="{{ url_for("podved", id=page) }}">{{ page }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 1 ) }}">{{ page + 1 }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 2 ) }}">{{ page + 2 }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 1 ) }}">След. </a>
                        </li>
                            {% endif %}
                    {% elif page == max_page -1 and item == max_page -1 %}

                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page - 1) }}">Пред. </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page - 2) }}">{{ page - 2 }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page - 1) }}">{{ page - 1 }} </a>
                        </li>
                        <li class="page-item"><a class="page-link active"
                                                 href="{{ url_for("podved", id=page) }}">{{ page }} </a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 1) }}">{{ page + 1 }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 1 ) }}">След.</a>
                        </li>
                    {% elif item == page %}

                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved",id=page - 1) }}">Пред. </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page - 2) }}">{{ page - 2 }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page - 1) }}">{{ page - 1 }} </a>
                        </li>
                        <li class="page-item active"><a class="page-link"
                                                        href="{{ url_for("podved", id=page) }}">{{ page }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 1) }}">{{ page + 1 }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 2) }}">{{ page + 2 }} </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 1 ) }}">След.</a>
                        </li>
                    {% endif %}

                {% endfor %}
             {% else %}

                                                <li class="page-item disabled"><a class="page-link"
                                                 href="{{ url_for("podved",id=page - 1) }}">Пред. </a>
                        </li>

                        <li class="page-item active"><a class="page-link"
                                                        href="{{ url_for("podved", id= 1) }}">{{ page }} </a>
                        </li>

                        <li class="page-item disabled"><a class="page-link"
                                                 href="{{ url_for("podved", id=page + 1 ) }}">След.</a>
                        </li>
            {% endif %}

                {#                {% for x in range(1,100) %}#}
                {#                            {% if x == number2 and x<4 %}#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x - 1) }}">Предидущая</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x - 2) }}">{{ x - 2 }}</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x - 1) }}">{{ x - 1 }}</a></li>#}
                {#                    <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x) }}">{{ x }}</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x + 1) }}">{{ x + 1 }}</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x + 2) }}">{{ x + 2 }}</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x + 3) }}">{{ x + 3 }}</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x + 1) }}">Следующая</a></li>#}
                {#                    {% elif x == number2 %}#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x - 1) }}">Предидущая</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x - 3) }}">{{ x - 3 }}</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x - 2) }}">{{ x - 2 }}</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x - 1) }}">{{ x - 1 }}</a></li>#}
                {#                    <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x) }}">{{ x }}</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x + 1) }}">{{ x + 1 }}</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x + 2) }}">{{ x + 2 }}</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x + 3) }}">{{ x + 3 }}</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="{{ url_for("podved", id=x + 1) }}">Следующая</a></li>#}
                {##}
                {#                    {% endif %}#}
                {##}
                {##}
                {#                {% endfor %}#}
                {#                {% if number2 == 2 %}#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 - 1) }}">Пред. </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 - 1) }}">{{ number2 - 1 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item active"><a class="page-link"#}
                {#                                                    href="{{ url_for("podved", id=number2) }}">{{ number2 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 + 1 ) }}">{{ number2 + 1 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 + 2 ) }}">{{ number2 + 2 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 + 1 ) }}">След.</a>#}
                {#                    </li>#}
                {#                {% elif number2 ==1 %}#}
                {#                    <li class="page-item disabled"><a class="page-link"#}
                {#                                                      href="{{ url_for("podved", id=number2 - 1) }}">Пред. </a>#}
                {#                    </li>#}
                {#                    <li class="page-item active"><a class="page-link"#}
                {#                                                    href="{{ url_for("podved", id=number2) }}">{{ number2 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 + 1 ) }}">{{ number2 + 1 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 + 2 ) }}">{{ number2 + 2 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 + 1 ) }}">След. </a>#}
                {#                    </li>#}
                {#                {% elif number2 ==37 %}#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 - 1) }}">Пред. </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 - 2) }}">{{ number2 - 2 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 - 1) }}">{{ number2 - 1 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item active"><a class="page-link"#}
                {#                                                    href="{{ url_for("podved", id=number2) }}">{{ number2 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item disabled"><a class="page-link"#}
                {#                                                      href="{{ url_for("podved", id=number2 + 1 ) }}">След.</a>#}
                {#                    </li>#}
                {#                {% elif number2 ==36 %}#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 - 1) }}">Пред. </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 - 2) }}">{{ number2 - 2 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 - 1) }}">{{ number2 - 1 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link active"#}
                {#                                             href="{{ url_for("podved", id=number2) }}">{{ number2 }} </a></li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 + 1) }}">{{ number2 + 1 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 + 1 ) }}">След.</a>#}
                {#                    </li>#}
                {#                {% else %}#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved",id=number2 - 1) }}">Пред. </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 - 2) }}">{{ number2 - 2 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 - 1) }}">{{ number2 - 1 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item active"><a class="page-link"#}
                {#                                                    href="{{ url_for("podved", id=number2) }}">{{ number2 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 + 1) }}">{{ number2 + 1 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 + 2) }}">{{ number2 + 2 }} </a>#}
                {#                    </li>#}
                {#                    <li class="page-item"><a class="page-link"#}
                {#                                             href="{{ url_for("podved", id=number2 + 1 ) }}">След.</a>#}
                {#                    </li>#}
                {#                {% endif %}#}
            </ul>

        </nav>
        </ul>
    </div>
    {#    <script>#}
    {#    const myModal = document.getElementById('myModal')#}
    {#const myInput = document.getElementById('myInput')#}
    {##}
    {#myModal.addEventListener('shown.bs.modal', () => {#}
    {#  myInput.focus()#}
    {#})#}
    {##}
    {#    </script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% endblock %}