{% extends 'basic/basic.html' %}

{% block content %}
    {{ super() }}
            <nav aria-label="breadcrumb" class="mx-3">
        <ol class="breadcrumb">

            <li class="breadcrumb-item active" aria-current="page">{{ breadcrumbs }}</li>


        </ol>
    </nav>
    <div id="container" class="container-fluid rounded px-0 bg-white border border-grey">
        <ul class="list-group list-group-flush box my-1">
{#            <li class="list-group-item">Отчеты</li>#}
            <div class="mt-5 mb-5 pt-5 pb-5"></div>
            <img src="/static/1cintegr/img/заглушка.png" class="img-fluid mt-5" alt="Responsive image">

        </ul>
    </div>
{% endblock %}